h1 {
    color:black;
    font-style: arial;
}
#balken {
    
  
    padding: 20px;
    background-color: rgba(248, 175, 92, 0.985)
}
.search{
    display: flex;
    align-items: stretch;
    
}
.News{
    display: flex;
}
.Teams{
    display: flex;
}
.MVPAward{
    display: flex;
}
.Scoreboard{
    display: flex;
}