body{
  background-color: rgba(243, 222, 147, 0.314);
}
img {
    width: 450px; 
    height: 300px; 
    transition: transform 0.2s ease-in-out; 
  }

  img:hover {
    transform: scale(1.1); 
  }
  .image-container {
    display: flex;
    justify-content: center;
    
    
  }
  .image-container img {
    margin-right: 10px;
    ;
  }
  .Überschrift {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgba(243, 222, 147, 0.903);
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }

