img {
    width: 450px; 
    height: 300px; 
    transition: transform 0.2s ease-in-out; 
  }

  img:hover {
    transform: scale(1.1); 
  }
  .image-container {
    display: flex;
    justify-content: center;
    
  }
  .image-container img {
    margin-right: 10px;
  }
  .Überschrift {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: darkorange;
    margin-bottom: 10px;
  }